html,
body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--light-blue);
    font-weight: bold;
}

h1 {
    font-size: 80px;
}

button:hover span {
    padding: 0 12px;
}


/*MAIN PAGE*/
/*_____________*/
/* Section one*/
.index-text-top {
    width: 73%;
    margin: 70px 5%;
    padding: 0px 10px 0;
    text-align: left;
}

.index-text-top * {
    padding: 4px 6px 0;
}

.blue-image {
    background-image: url("../img/upper-bg-index.png");
    background-position: center;
    width: 100%;
    height: 100%;
    max-height: 928px;
    /* margin: -4% auto auto auto; */
}

.index-logos {
    width: 128%;
    /*Needs to be over 100 for images to be on one line */
    /* margin: 0 0% 0; */
    padding: 2px;
}

.index-logos * {
    padding: 0 25px;
}

.subline {
    font-size: 16px;
    color: var(--grey);
}

.get-an-app li img {
    float: left;
    padding: 0 15px;
}


.text-app {
    position: relative;
}

.subline {
    padding: 0px 20%;
}



.placeholder-img {
    position: relative;
    /* max-width: 200px; */
    margin: 10% -26%;
}

.left-one {
    max-height: 225px;
}

/*SECTION TWO */
.phone-person {
    background: url("../img/male-phone.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 727px;
}

.upgrade {
    width: 40%;
    padding: 10% 0;
    display: inline-block;
}

.upgrade h1 {
    position: absolute;
    top: 5%;
    left: 56%;
    width: 48%;
    text-align: right;
}



.white-box-index {
    float: right;
    /* max-width: 501px; */
    padding: 4% 2% 2%;
    position: relative;
    margin: -40% 1%;
    z-index: 2;
}

.white-box * {
    padding: 7px 0;

}

.white-box button {
    margin: 4% 2%;
    /* font-size: 20px; */

}

.fa-check {
    padding: 0 13px 0px 0;
    font-size: 30px;
}

/* 
.white-box button span {
    padding: 0px 0 0 12%;
} */



.fas {
    color: var(--light-blue);
}



.white-blur {
    box-shadow: 18px 20px 20px 8px white;
}

/*erie-review*/
.erie-review {

    background-image: url(../img/mechanic-bg.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 100%;

}

.erie-text {
    padding: 0 2% 3% 0;
}

/*order-slider*/
.order-slider {
    background-image: url(../img/screen-background.jpg);
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: 0px 1px 20px 20px white inset;
}

.build-btn {
    padding: 20px 0 10%;
}

.screen {
    width: 70%;

}

.fifth-face {
    display: flex;
    justify-content: space-between;
    padding: 8% 1%;
}

.fifth-face .column span img {
    padding-bottom: 15px;
    width: 30%;
}

.fifth-face .column span:hover {
    cursor: pointer;
    opacity: .5;
}

.fifth-face .column span p {
    margin-bottom: 0;
}

.fifth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fifth-face .column:nth-of-type(2) {
    justify-content: center;
}

.clicker-subline {
    font-size: 15px;
    width: 100%;

}

.column span {
    word-wrap: break-word;
    width: 38%;
}

.frame {
    background-image: url(../img/phone-circle-background.png);
    background-repeat: no-repeat;
    /* width: 80%; */
    /* background-size: 700px; */
    /* background: center; */
    background-position: center center;
    /* position: relative; */

}



#four h1 {
    padding: 0px 31%;
}

/* SLIDER */
.slider {
    width: 80%;
    padding: 40px 0;

}

#testimonial {
    margin-bottom: 15%;
}

/*FOUR*/
.blue-box {
    background-color: #00aeef;
    box-shadow: -1px 5px 14px 2px #00aeefad;
    padding: 20px;
    border-radius: 100px/122px;
    margin: 10% auto;
    color: white;
    width: 35%;
    height: 225px;
}

.blue-box-text-center {
    margin: 21px 0 0;
}

.company-info p {
    margin: 0;
    font-size: 15px;
}

.company-review {
    padding-top: 20px;
    font-size: 15px;

}

/*BOOTSTRAP OVERRIDE*/
.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

p {
    margin-bottom: 0 !important;
}

.border-bottom {
    max-width: 68.5%;
}

/*CONTACT STYLES */
.contact-box {
    max-width: 85%;
    background-color: white;
    box-shadow: -2px 3px 15px 4px #80808052;
    border-radius: 8px;
    float: right;
    padding: 1% 5% 2%;
    position: relative;
    margin: 4% auto 10%;
    padding-top: 5%;

}



/*PRICING PAGE*/
.pricing-box {
    background-color: white;
    margin: 0% 0 auto;
    width: 48%;
    font-weight: 100;
    padding: 10px 0;
}

.pricing-box * {
    padding: 10px 9px;
}

.pricing-box li p {
    padding: 0px 12%;
}

.fa-long-arrow-alt-down {
    font-size: 50px;
    color: white;

    align-content: center;
}

.month {
    font-size: 15px;
    padding: 0 !important;
}

@media all and (max-width: 1199px) {
    .white-box-index {
        margin: -57% 2% 0 0;
    }

    .subline {
        font-size: 12px;
    }

    .upgrade {
        width: 40%;
        padding: 10% 0;
        display: inline-block;
    }

    .upgrade h1 {
        position: absolute;
        top: 17%;
        left: 75%;
        font-size: 33px;
    }


}



/*CONFIRMATION*/
.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: #18315a;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    width: 80%;
}

.hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;

    padding: 0 .5em;
    line-height: 1.5em;
    color: #18315a;
    background: url("../img/confirmation-background-image.jpg") no-repeat center center fixed;
}

.confirmation-box {
    background: url("../img/confirmation-background-image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 8%;
    box-shadow: none;

}

.confirm-banner {
    padding: 20px;
}

.confirm-link-container {
    margin: 0% 0 10%;
}

/*ABOUT */
.about-top-text {
    padding: 3% 16% 0;
}

.contact-bg {
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: left;
    /* background-size: contain; */
    background-size: 100% 100%;
    background-image: url(../img/about-us-bg.jpg);
}



.philosophy-box {
    max-height: 415px;
    max-width: 410px;
    border-radius: 1% !important;
    box-shadow: 4px 7px 14px 0px #545050;
}

.philosophy-section {
    margin: 0 10%;
}

.mission-text {
    margin: 3% 50% 0;
}

.mission {
    background-image: url(../img/our-mission-bg.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: left;
    /* float: left; */
    /* background-size: contain; */
    /* background-size: 100% 100%; */
    height: 575px;
}

.marketing-section {
    margin: -20% 15% 0;
}

.map {
    background: url("../img/global-map.png");
    height: 700px;
    background-size: cover;

}

.map-text {
    padding: 27% 22% 0;
}

.marketing-box {
    background: var(--light-blue);
    color: white;
    width: 400px;
    height: 630px;
}

.counter-value {
    font-size: 10vh;
    color: linear-gradient(to right, #FDFBFB, #EBEDEE 70%);
    background: -webkit-linear-gradient(#0375b7, #10f4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#counter {
    height: 910px;
}

/*Large screens*/
@media only screen and (min-width : 1224px) {
    .white-box-index {
        margin: -43% 6%;
        max-width: 34%;
    }

    .upgrade * {
        /* 
        font-size: 40px; */
    }
}


@media only screen and (min-width : 1824px) {}

@media all and (max-width: 991px) {
    .subline {
        font-size: 10px;
        padding: 0px 0 0 5px;
        width: 100%;
    }

    .white-box-index {
        margin: -77% 1% 0 0;
        max-width: 361px;
    }

    .white-box-index h1 {
        font-size: 35px;
    }

    .upgrade {
        width: 110%;
        padding: 10% 0;
        display: inline-block;
    }

    .upgrade h1 {
        position: absolute;
        top: 8%;
        left: 47%;
        font-size: 22px;
    }

    /* .get-an-app p {
        font-size: 1.7vH;
    } */

}

@media all and (max-width: 768px) {
    .subline {
        font-size: 8px;
    }

    .white-box-index {
        margin: -40% 1%;
        max-width: 321px;
        font-size: 13px;
    }

    .white-box-index h1 {
        font-size: 32px;
    }

    .upgrade {
        width: 115%;
        padding: 10% 0;
        display: inline-block;
    }

    .upgrade h1 {
        position: absolute;
        top: 18%;
        left: 45%;
        font-size: 18px;
    }

    #footer h1 {
        font-size: 1.5rem;
    }

    #footer p {
        padding: 4% 0;
    }


}