/* work-sans-300 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: url('webfonts/work-sans-v3-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Work Sans Light'), local('WorkSans-Light'),
       url('webfonts/work-sans-v3-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfonts/work-sans-v3-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfonts/work-sans-v3-latin-300.woff') format('woff'), /* Modern Browsers */
       url('webfonts/work-sans-v3-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('webfonts/work-sans-v3-latin-300.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-regular - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('webfonts/work-sans-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Work Sans'), local('WorkSans-Regular'),
       url('webfonts/work-sans-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfonts/work-sans-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfonts/work-sans-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('webfonts/work-sans-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('webfonts/work-sans-v3-latin-regular.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-600 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url('webfonts/work-sans-v3-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'),
       url('webfonts/work-sans-v3-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfonts/work-sans-v3-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfonts/work-sans-v3-latin-600.woff') format('woff'), /* Modern Browsers */
       url('webfonts/work-sans-v3-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('webfonts/work-sans-v3-latin-600.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-700 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('webfonts/work-sans-v3-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Work Sans Bold'), local('WorkSans-Bold'),
       url('webfonts/work-sans-v3-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfonts/work-sans-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfonts/work-sans-v3-latin-700.woff') format('woff'), /* Modern Browsers */
       url('webfonts/work-sans-v3-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('webfonts/work-sans-v3-latin-700.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* gotham ultra */
@font-face {
  font-family: 'Gotham-Ultra';
  font-style: normal;
  font-weight: 800;
  src: url('webfonts/gotham-ultra-webfont.eot'); /* IE9 Compat Modes */
  src: local('Gotham Ultra'), local('Gotham-Ultra'),
       url('webfonts/gotham-ultra-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfonts/gotham-ultra-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfonts/gotham-ultra-webfont.woff') format('woff'), /* Modern Browsers */
       url('webfonts/gotham-ultra-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('webfonts/gotham-ultra-webfont.svg#Gotham') format('svg'); /* Legacy iOS */
}