/*BAIL */
body {
    overflow-x: hidden;
}

.bail-upper {
    background: url(../img/bail-bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: -4% 0 0 0;
    background-position: top;
    height: 732px;
}

.bail-upper img {
    width: 46%;
    filter: drop-shadow(10px 11px 21px #333);
    margin: 25% 0 0 0;
}

.bail-upper h1 {
    margin-left: -20%;
    color: #fff;
}

.partners img {
    max-width: 90%;
}

.video-bg {
    background: linear-gradient(180deg, #1D99D5 60%, #18315A 40%);
    height: 713px;
}

.app-benefits {
    margin: 0px 5% 0 19%;
}

.app-benefits img {
    width: 36%;
    padding: 0;
}

.app-benefits .benefit {
    margin: 4% 0 0 0;
}

.inner-benefit-text {
    width: 57%;
}

.inner-benefit-text * {
    padding: 1% 0;
}

.white-box {
    margin: 5% 4% 0%;
}

.banner-bail {
    background: url("../img/bail-service-bg.jpg") center no-repeat;
    background-size: cover;
}

/* bail selector */
.bail-selector {
    margin: 0 6%;
}

.bail-selector h3 {
    font-weight: 800;
    color: #989FB0;
}

.bail-selector .e-sign {
    padding-top: 16%;
    width: 30%;
}

.bail-selector .phone {
    width: 40%;
    filter: drop-shadow(10px 11px 21px #333);
}

.bail-selector .mobile-payments {
    padding-top: 16%;
    width: 30%;
}

/* testimonial */
.testimonial .quote {
    width: 56%;
}

.testimonial .app-preview {
    width: 25%;
}

.testimonial .avatar {
    width: 19%;
}

/*WHITE BOX OVERRIDE*/
.white-box {
    margin: 0.5%;
    box-shadow: none;
}

.white-box img {
    width: 30%;
    padding: 26px 0px 18px;
}

.features {
    margin: 0 -10% 0px 15%;
}

.special-features {
    margin: 0 6%;
    padding-bottom: 3%;
}

.outer-line {
    width: 34%;
    border-bottom: 1px solid #00AEEF;
    display: inline-block;
    vertical-align: middle;
}

.customer:hover {
    -webkit-box-shadow: 0 4px 5px 4px #DEE2E6;
    -moz-box-shadow: 0 4px 5px 4px #DEE2E6;
    box-shadow: 0 4px 5px 4px #DEE2E6;
}

/* Video */
.video-frame {
    border: 5px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    margin: 20px 20% 2% 20%;
    padding: 0;
    max-width: 1930px;
}

.plyr,
.plyr__poster,
.plyr__video-wrapper {
    background-color: #fff;
    border-radius: 5px;
}

.play-video-text {
    left: 17.5%;
    position: absolute;
    z-index: 1;
    margin-top: -27%;
    width: 1.1%;
}

.plyr__control--overlaid {
    background: rgba(255, 255, 255, 0.8);
    border: 6px solid #00ADEF;
    color: #00ADEF;
}

.play-video-text img {
    width: 90%;
}

@media only screen and (min-width: 576px) {
    .bail-upper h1 {
        font-size: 1.8rem;
    }

    .play-video-text {
        margin-top: -31%;
    }

    .play-video-text img {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .bail-upper h1 {
        font-size: 2.4rem;
    }

    .play-video-text {
        margin-top: -30%;
    }

    .play-video-text img {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .bail-upper h1 {
        font-size: 3rem;
    }

    .play-video-text {
        margin-top: -27%;
    }

    .play-video-text img {
        width: 77%;
    }
}

@media only screen and (min-width: 1200px) {
    .bail-upper h1 {
        font-size: 3.4rem;
    }
}