/*INDEX*/
html,
body {
    overflow-x: hidden;
}

.get-an-app {
    padding: 6%;
}

.get-an-app li img {
    float: left;
    padding: 0 10px;
}

.subline {
    font-size: 17px;
    color: #dcdcdc;
}

.white-box {
    padding: 4% 8% 3%;
    margin: -5% 5%;
    font-size: 14px;
}

.white-box ul {
    font-size: 14px;
}

.white-box ul li {
    padding: 5px 0;
}

.upgrade {
    background: url("../img/dude.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;

}

.upgrade h3 {
    margin: 5% 53%;
}

.phone-person {
    padding: 13% 0 0;
}

.order-slider {
    background-image: url(../img/screen-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: 0px 1px 20px 20px white inset;

}

.order-slider img {
    width: 100%;
}

.clicker-subline {
    font-size: 10px;
}

.squares-container {
    width: 100%;
    padding: 10% 0 30%;
}

.square {
    padding-bottom: 30%;

}

.square-content {
    position: absolute;
    height: 80%;

    width: 90%;
    padding: 10% 5%;
}

.square-content p {
    padding: 5px 0 0 0;
    margin: 0;
    font-size: 12px;
}

/* SLIDER */
.slider {
    width: 100%;
    margin: 0 !important;
}

#testimonial {
    margin-bottom: 0;
}

/*FOUR*/
.blue-box {
    background-color: #00aeef;
    padding: 20px;
    color: white;
}

.company-info p {
    margin: 0;
    font-size: 15px;
}

.company-review {
    padding-top: 20px;
    font-size: 15px;

}

/*CONTACT PAGE*/
.contact-header {
    display: inline-block;
    text-align: left;
}

/*PRICING PAGE*/
.pricing-col {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    margin: 2% -6% 2% -11%;
}

.fas {
    color: var(--light-blue);
}

.erie-text {
    padding: 17px;
}

.pricing-box {
    margin: 5%;
    padding: 2% 8% 2% 5%;
}

.month {
    font-size: 10px;
    padding: 0 !important;
}

.subline2 {
    font-size: 12px;
}

.grow {
    padding: 2px 16px;
}