:root {
  --light-blue: #00aeef;
  --light-grey: #e0e0e0;
  --grey: #c7c5c5;
  --old-dark-blue: #002d62;
  --blurple: #18315a;
  --font: 'Playfair Display', serif
}

body {
  color: #000;
  font-family: 'Work Sans';
  font-size: 1rem;
  margin: 0 auto;
}

.container {
  max-width: 960px;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.page {
  background: #FFFFFF;
}

footer,
header {
  font-family: var(--font);
}

.btn {
  width: auto;
  font-size: unset;
}

#form-section .main-form {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}

#form-section .form-header {
  background: #00295A;
  border-radius: 14px 14px 0 0;
  color: #fff;
}

#form-section .form-header .step-number {
  color: #1c99d5;
  font-family: 'Gotham-Ultra';
  padding: 2%;
}

#form-section .form-header .header-text {
  border-left: 1px solid #00387D;
  padding-left: 2%;
  width: 100%;
}

#form-section .form-header h2 {
  font-weight: 700;
  padding-top: 2%;
}

#form-section .divider {
  border-bottom: 1px solid #D4D4D4;
  padding: 0;
  margin: 0;
}

.caption,
.summary h4,
.modal-header h4,
#form-section .order-body h4 {
  color: #757575;
  font-size: 1rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.summary p,
#form-section .order-body p {
  color: #7D7D7D;
  font-size: 0.9rem;
  line-height: 1.3;
  padding-top: 2%;
}

#help-banner .help-content h3,
#form-section .sidebar h2 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#help-banner .help-content h2,
#form-section .sidebar h3,
#form-section .form-header h3 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.invalid-feedback {
  display: block;
}

.input-group .input-group-text {
  background:#fff;
  color:#00295A;
  min-width: 45px;
  justify-content: center;
}

.template-preview {
  background: #00295A;
}

/* Social Media */
.social-media img {
  max-width: 90%;
}

.image-checkbox input[type="checkbox"] {
	display: none;
}

.image-checkbox-checked {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.25;
  filter: alpha(opacity=25); /* For IE8 and earlier */
}

.sm-label {
  border-radius: 5px;
  font-weight: 800;
  color: #fff;
  text-align: center;
}

.youtube-bg {
  background: #BB0000;
}

.instagram-bg {
  background: #70449B;
}

.yelp-bg {
  background: #890000;
} 

.facebook-bg {
  background: #003B83;
}

.twitter-bg {
  background: #1c99d5;
}

.google-bg {
  background: #BB0000;
}

.linkedin-bg {
  background: #086EAB;
}

/* footer */
#form-section .form-mid,
#form-section .form-footer {
  background: #F0F0F0;
  color: #fff;
}

#form-section .form-footer {
  border-radius: 0 0 14px 14px;
}

.payment-btn,
#form-section .btn-continue {
  border-bottom: 5px #001E62 solid;
  border-radius: 7px;
  background: #1c99d5;
  color: #FFF;
  font-weight: 700;
}

#form-section .sidebar {
  background: #1c99d5;
  border-radius: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
  flex-basis: 288px;
  min-width: 288px;
  cursor: default;
}

#form-section .sidebar .step-number {
  font-family: 'Gotham-Ultra';
}

#form-section .sidebar .active-step {
  color: #383838;
  background-image: url(../img/active-step-background.png);
  background-position: center center;
  background-repeat: repeat-x;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

#form-section .sidebar .inactive-step {
  color: #A7E0FF;
}

#form-section .helpful-tips {
  background: #ff6600;
  background-image: url(../img/helpful-tips-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  border-bottom: 6px #001E62 solid;
  border-radius: 12px;
  color: #fff;
  font-size: 0.8rem;
}

#form-section .sidebar .helpful-tips h2 {
  font-size: 1.7rem;
}

#step-indicator .step-box-welcome,
#step-indicator .step-box {
  border-radius: 14px;
  width: 23%;
}

#step-indicator .sidebar {
  flex-basis: 288px;
  min-width: 288px;
}

#step-indicator .step-complete {
  background: #1c99d5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}

#step-indicator .step-incomplete {
  background: #D2D3D3;
}

#help-banner .help-container {
  background: #1c99d5;
  border-bottom: 4px #001E62 solid;
  border-radius: 10px;
  color: #fff;
  max-height: 109px;
}

#help-banner .help-content {
  margin-left: -10px;
}

#help-banner .help-image {
  max-width: 15%;
}

#help-banner .help-image img {
  margin: 0 0 -12px 3%;
  width: 65%;
}

#lower-section .upper-footer {
  background: #E5ECFB;
  border-top: 1px #fff solid;
}

#lower-section .lower-content p {
  font-weight: 600;
  color: #5B555D;
}

#lower-section .lower-content h4 {
  font-weight: 700;
  color: #2C3B5B;
  font-size: 1.3rem;
}

#lower-section .btn-contact {
  border-radius: 7px;
  background: #005FCB;
  color: #FFF;
  font-weight: 600;
}

footer {
  background: #00295A;
  color: #78B1ED;
}

.info-container {
  background: #F2F2F2;
  border: 1px solid #D4D4D4;
  border-radius: 5px;
}

/* Template selection carousel */
.main-carousel {
  padding: 3% 7%;
}

.flickity-button,
.flickity-button:hover {
  background: transparent;
  fill: #000000;
}

.flickity-button-icon {
  fill: #707070;
}

.flickity-prev-next-button.previous {
  left: 0.2%;
}
.flickity-prev-next-button.next {
  right: 0.2%;
}

.carousel-cell {
  margin-right: 1%;
  padding:3px;
  padding: 3px;
  width: 166px;
  height: 203px;
  background-size: 166px;
}

.fs{
  margin: none;
  padding: none;
  padding: none;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-cell.is-selected {
  padding:1px;
  border: 2px solid #00285A;
  border-radius: 5px;
}

.carousel-cell.fs.is-selected{
  border: none;
  border-radius: none;
} 

.flickity-fs-button {
  position: absolute;
  width: 10%;
  height: 10%;
  display: block;
  background: transparent;
  border: none;
  right: 6px;
  top: 20px;
  color: white;
  filter: drop-shadow(0 0 5px #000);
}

.summary {
  padding: 0 15px;
}

.step-heading {
  font-weight: 600;
  color: #1c99d5;
  font-size: 1.3rem;
}

.summary-template img {
  box-shadow: 1px 0px 20px 2px #212529;
  border-radius: 10px;
  border: 2px solid white;
}

.summary-social {
  width: 16.66%;
}

.summary-social img {
  max-height: 100%;
  max-width: 100%;
}

@media only screen and (max-width: 575px) {
  #form-section .form-header .step-number { font-size: 2.5rem; }
  #form-section .form-header h2 { font-size: 1.2rem; }
  #form-section .form-header h3 { font-size: 0.8rem; }
  #form-section .btn-continue { width: 70%; }
  #help-banner .help-content h2 { font-size: 0.8rem; }
  #help-banner .help-content h3 { font-size: 0.8rem; }
  #help-banner .help-image img { margin-top: -8px; width: 60%; min-width: 39px; }
  .flickity-prev-next-button.previous { left: -3%; }
  .flickity-prev-next-button.next { right: -3%; }
}

@media only screen and (min-width: 576px) {
  #form-section .form-header .step-number { font-size: 2.5rem; }
  #form-section .form-header h2 { font-size: 1.2rem; }
  #form-section .form-header h3 { font-size: 0.8rem; }
  #form-section .btn-continue { width: 70%; }
  #form-section .sidebar .step-number { font-size: 1.6rem; }
  #form-section .sidebar h2 { font-size: 1rem; }
  #form-section .sidebar h3 { font-size: 0.7rem; }
  #help-banner .help-image img { margin-top: -6px; width: 70%; }
  #help-banner .help-content h2 { font-size: 1rem; }
  #help-banner .help-content h3 { font-size: 1rem; }
}

@media only screen and (max-width: 768px) {
  .flickity-fullscreen-button { position: fixed; };
}

@media only screen and (min-width: 768px) {
  #form-section .btn-continue { width: auto; }
}

@media only screen and (min-width: 992px) {

}
