:root {
  --light-blue: #1c99d5;
  /* --mid-blue: #1c99d5; */
  --light-grey: #b7b7b7;
  --grey: #777777;
  --old-dark-blue: #002d62;
  --blurple: #18315a;
  --mid-grey: #e7e7e7;
  --font: 'Work Sans', serif;
  --dark-grey: #505050;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

body {
  font-family: var(--font)
}

/*COLORS*/
.mid-grey-bg {
  background-color: var(--mid-grey);
}

.black {
  color: black;
}

.grey {
  color: var(--grey);
}

.dark-grey {
  color: var(--dark-grey);
}

.white-op {
  color: #fff6ee;
}

.light-blue {
  color: var(--light-blue)
}

.mid-blue {
  color: var(--mid-blue)
}

.light-grey {
  color: var(--light-grey)
}

.light-grey-bg {
  background-color: var(--light-grey)
}

.light-blue-bg {
  background-color: var(--light-blue)
}

.mid-blue-bg {
  background-color: var(--mid-blue)
}

.blurple-bg {
  background-color: var(--blurple);
  color: white
}

.white-bg {
  background-color: white
}

/*COLORS END*/
a {
  text-decoration: none;
  color: var(--grey)
}

a:hover {
  color: black;
  text-decoration: none
}

.right {
  float: right
}

.container-fluid {
  padding: 0 !important
}

.btn {
  width: 245px;
  display: inline-block;
  font-size: 20px;
}

.btn span {
  padding: 0px 0 0 12%;
}

.long-btn {
  width: 400px;
  padding: 12px 0;
}

.content {
  background: linear-gradient(white, white, white, white, white, var(--light-blue));
  height: 100%
}

.md-blue-grad {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.3954175420168067) 49%, rgba(29, 153, 213, 0.4402354691876751) 100%);
}

.bold {
  font-weight: bold;
}

.semi-bold {
  font-weight: 600;
}


/*TEXT STYLES*/
.uppercase {
  text-transform: uppercase;
}

.slimmer {
  font-weight: lighter;
}

ul {
  list-style-type: none;
  color: var(--grey);
  font-weight: 200
}

.center {
  margin: 0 auto;
  display: block
}

.text-center {
  text-align: center
}

.white *,
.white {
  color: white
}

.navbar-expand-lg {
  background: white;
}

.nav-link {
  padding: 9px 2rem 9px 0 !important;
  text-transform: uppercase
}

.nav-item {
  margin-top: 5px;
  margin-right: -2px
}

.active {
  color: pink
}





.white-box {

  background-color: white;
  box-shadow: 2px 7px 14px 2px #00000040;
  -moz-box-shadow: 2px 7px 14px 2px #00000040;
  -webkit-box-shadow: 2px 7px 14px 2px #00000040;
  border-radius: 8px;
  overflow: auto;
}

/*FOOTER */
footer {
  background: var(--old-dark-blue);
  color: #afbde2;
  padding-bottom: 60px;
}

.footer-logo img {
  padding-bottom: 20px;
  width: 210px;
}

.short {
  margin: 22px 0 18px;
  border: 0;
  background: #fff;
  height: 3px;
  width: 70%
}

.green-gradient {
  background: linear-gradient(90deg, #b5eb45 0, #7ed221)
}

.blue-gradient {
  background: linear-gradient(90deg, #80c3f3 0, #4990e2)
}

.yellow-gradient {
  background: linear-gradient(90deg, #fbd249 0, #f5a523)
}

.pink-gradient {
  background: linear-gradient(90deg, #fb499b 0, #f52362)
}

.footer-nav {
  list-style: none;
}

ul.footer-nav {
  margin: 0;
  padding: 0;
}

.footer-nav li {
  margin: 0
}

.footer-nav a {
  display: block;
  color: #afbde2
}

.footer-nav a:focus,
.footer-nav a:hover {
  color: #fff;
  text-decoration: none
}

.footer-logos img {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.footer-logos img:hover {
  opacity: 9.0;
  filter: alpha(opacity=90);
}

.dark-blue-image {
  background-image: url("/img/bottom-background.jpg");
  background-repeat: no-repeat;
  /* width: 100%;
  min-height: 290px; */
  background-size: cover;
  background-position: center center;
  /* padding: 1% 10%; */
}

.moveDown {
  margin-top: 5%;
}

footer h1 {
  color: var(--light-blue);
  font-weight: bold;
}

.blue-bg-gradient {
  background: rgb(255, 255, 255);
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 56%, rgba(0, 174, 239, 0.06766456582633051) 78%, rgba(0, 174, 239, 0.2945553221288515) 100%);
}